.wrapper {
  width: 1040px;
  margin: auto;
  margin-top: 20px;
  padding: 0 40px;
  font-family: arial;
}

img {
  width: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "top-one top-two top-three top-four"
  "bottom-one bottom-two bottom-three bottom-four";
  grid-gap: 20px;
  width: 100%;
  height: 70%;
}

.card {
  background-color: #438abf;
}

.top-one {
  grid-area: top-one;
}
.top-two {
  grid-area: top-two;
}
.top-three {
  grid-area: top-three;
}
.top-four {
  grid-area: top-four;
}
.bottom-one {
  grid-area:bottom-one;
}
.bottom-two {
  grid-area: bottom-two;
}
.bottom-three {
  grid-area: botom-three;
}
.bottom-four {
  grid-area: bottom-four;
}
